In [1]:
print("hello me")

hello me

In [12]:
x=4
if x>5:
 print(x)
else :
 print("denim")

denim

In [15]:
#loops 
""" for <var> in <sequence>
 body of for loop"""

for ch in "apple":
    print (ch, end = " ")

a p p l e

In [17]:
for ele in [2,4,6,8]:
    print(ele, end = " " )

2 4 6 8

In [18]:
for n in range(5):
    print(n)

0
1
2
3
4

In [19]:
list(range(1,5,1))

[1, 2, 3, 4]

In [21]:
list(range(10,1,1))

[]

In [22]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
for n in range(5):
  print(n)

0
1
2
3
4

In [27]:
for n in range(5,50,10):
    print(n)

5
15
25
35
45

In [28]:
for n in range(10,5,-1):
    print(n)

10
9
8
7
6

In [29]:
for n in range(50,40,-2):
    print(n)

50
48
46
44
42

In [30]:
for i in range(1,4,2):
    print(i)

1
3

In [31]:
i=1
while(i<4):
    print(i)
    i=i+2

1
3

In [32]:
#ques-2
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print("even numbers-")
for num in list:
    if num%2==0:
        print(num)

even numbers-
2
4
6
8
10
12
14
16
18
20

In [33]:
list=[56,579,658,3452,64567,8906,-2]
print("even numbers are -")
for num in list:
    if num%2==0:
        print(num)

even numbers are -
56
658
3452
8906
-2

In [34]:
#ques-3
start=int(input("enter the first no."))
last=int(input("enter the last no."))
print("multiples of 10 are: ")
for i in range(start,last+1):
    if i%10==0:
        print(i)

enter the first no. 10
enter the last no. 200

multiples of 10 are:
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200

In [36]:
start=int(input("enter the first number:"))
end=int(input("enter the last number:"))
print("multiples of 5 are :")
for i in range(start,end):
    if i%5==0:
        print(i)

enter the first number: 1
enter the last number: 50

multiples of 5 are :
5
10
15
20
25
30
35
40
45

In [38]:
#ques-4
len=10  #a.
b=20
sum = ((len+b)/2)  #b.
stationary=["paper","Gel pen","Eraser"]  #c.
first="Mohandas"
middle="Karamchand"
last="Gandhi"
fullname= first+' '+middle+' '+last
print(fullname)
print(sum)

Mohandas Karamchand Gandhi
15.0

In [48]:
#ques-6
num1=4
num2=3
num3=2
num1+=num2+num3
print(num1)
num1 = num1 ** (num2 + num3) 
print (num1) 
num1 = '5' + '5' 
print(num1) 
print(4.00/(2.0+2.0)) 
num1 = 2+9*((3*12)-8)/10 
print(num1) 
num1 = float(10) 
print (num1) 
num1 =3.14
print(int(num1))

9
59049
55
1.0
27.2
10.0
3

In [53]:
#ques-7
n=int(input("enter the number to repeat the string:"))
for i in range(n):
    print("good morning everyone")

enter the number to repeat the string: 2

good morning everyone
good morning everyone

In [55]:
#ques-8
num1=2
num2=3
num3=4
average=(num1+num2+num3)/3
print(average)

3.0

In [61]:
from datetime import datetime
print(datetime.now())
print(datetime.now().year)
print(datetime.now().date)
print(datetime.now().time)

2026-01-21 05:08:56.414424
2026
<built-in method date of datetime.datetime object at 0x000002085FC91200>
<built-in method time of datetime.datetime object at 0x000002085FC91320>

In [63]:
#ques-9
name=str(input("Enter your name"))
age=int(input("enter your age"))
from datetime import datetime
current_year= datetime.now().year
century_age_year= current_year + (100-age)
print(f"Hello {name}, you will turn 100 years old in {century_age_year}")

Enter your name Gaurav
enter your age 21

Hello Gaurav, you will turn 100 years old in 2105

In [ ]:
name=str(input("Enter your name"))
age=int(input("enter your age"))
from datetime import datetime
current_year= datetime.now().year
century_age_year= current_year + (100-age)
print("Hello "+name+",you will turn 100 years old in " + str(century_age_year))

In [ ]:
#ques-10
for i in range(20,30,2):
    print(i)             #a
country='INDIA'
for i in country:
    print(i)             #b

i=0;sum=0                #c
while i<9:
    if i % 4==0:
        sum = sum + i
        i = i + 2
        print(sum)